/.github/
/.git/
/.svelte-kit/
/.vscode/
/build/
/node_modules/
/.gitignore
/.npmrc
/.prettierignore
/.prettierrc
/AUTHORS.txt
/compose.yml
/COPYING
/COPYING.CC-BY-NC-SA
/Dockerfile
/eslint.config.js
/LICENSE
/Makefile
/README.md